@media only screen and (max-width: 1024px) {
  .menuIsToggled {
  }
  /* Hide somethings */
  .web_header-top,
  .web_header-searchbar,
  .web_navbar-icons {
    display: none;
  }

  .logo_container-nav {
    height: 65px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 60;
    padding: 0 50px;
  }

  .web_header {
    padding-top: 65px;
  }

  .web_menu-togger {
    display: flex;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
  }

  .web_icon-set {
    visibility: visible;
    opacity: 1;
  }

  .web_collapsable-logo {
    margin-left: -50px;
    transform: translateX(50%);
  }

  .web_header-nav_container {
    padding-top: 60px;
    position: fixed;
    left: -300px;
    width: 300px;
    top: 0;
    height: 100vh;
    background-color: #ffffff;
    z-index: 100;
    transition: all 0.1s ease-in;
  }

  .menu_active {
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 20%);
    left: 0;
  }

  .web_navbar-list {
    display: block;
    position: relative;
    width: 100%;
  }

  .web_navbar-list li {
    display: block;
    width: 100%;
    margin: 0;
  }

  .web_navbar-list li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #cccccc;
  }

  .web_navbar-list li.with_sublinks:not(.sublinks-gather li) a::after {
    content: "+";
    position: absolute;
    right: 15px;
    font-size: 16px;
  }

  .navbar_sublinks {
    position: relative;
    visibility: visible;
    opacity: 1;
    height: 0;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0 15px;
    display: block;
    overflow: hidden;
  }

  .close_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .web_navbar-list li.with_sublinks:hover .navbar_sublinks {
    height: auto;
  }

  .navbar_sublinks .sublinks-gather li:first-child {
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
  }

  .hero_intro-cont h1 {
    font-size: 36px;
  }

  /*  The columns */

  .web_grid-three,
  .web_grid-four {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .web_cart-container {
    width: 100%;
  }
  .logo_container-nav {
    padding: 0 20px;
  }

  .web_hero-intro {
    padding: 20px 0;
  }

  .web_collapsable-logo {
    width: 100px;
  }

  .hero_intro-cont {
    padding: 0;
  }

  .web_grid-three,
  .web_grid-four {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }

  .footer_item-one,
  .footer_item-rest:last-of-type {
    width: 100%;
  }

  .footer_item-rest:not(.footer_item-rest:last-of-type) {
    padding-left: 0;
    width: 46%;
    margin-top: 50px;
  }

  .footer_item-rest:last-of-type {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
  }
}
